<div class="row">

    <h2 class="row-seperator-header">
        <i class="fa fa-search"></i> Content Search Tool
    </h2>

    <!-- NEW WIDGET START -->
    <article class="col-md-12">

        <!-- Widget ID (each widget will need unique ID)-->
        <div class="jarviswidget well" id="wid-id-3" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-togglebutton="false" data-widget-deletebutton="false" data-widget-fullscreenbutton="false" data-widget-custombutton="false" data-widget-sortable="false">
            <!-- widget options:
            usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

            data-widget-colorbutton="false"
            data-widget-editbutton="false"
            data-widget-togglebutton="false"
            data-widget-deletebutton="false"
            data-widget-fullscreenbutton="false"
            data-widget-custombutton="false"
            data-widget-collapsed="true"
            data-widget-sortable="false"

            -->
            <header>
                <span class="widget-icon">
                    <i class="fa fa-comments"></i>
                </span>
            </header>

            <!-- widget div-->
            <div>

                <!-- widget edit box -->
                <div class="jarviswidget-editbox">
                    <!-- This area used as dropdown edit box -->

                </div>
                <!-- end widget edit box -->
                <!-- widget content -->
                <div class="widget-body">

                    <div class="input-group input-group-lg hidden-mobile">
                        <input class="form-control input-lg" type="text" placeholder="Search website content..." id="websiteUrl">
                        <div class="input-group-btn">
                            <button type="button" id="searchContent" class="btn btn-default">
                                &nbsp;&nbsp;&nbsp;<i class="fa fa-fw fa-search fa-lg"></i>&nbsp;&nbsp;&nbsp;
                            </button>
                        </div>
                    </div>
                    <hr class="simple">

                    <ul id="myTab1" class="nav nav-tabs bordered">
                        <li class="active">
                            <a href="#s1" data-toggle="tab"><i class="fa fa-fw fa-lg fa-image"></i> Images</a>
                        </li>
                        <li>
                            <a href="#s2" data-toggle="tab"><i class="fa fa-fw fa-lg fa-area-chart"></i> Top Keywords</a>
                        </li>
                    </ul>

                    <div id="myTabContent1" class="tab-content padding-10">
                        <div class="tab-pane fade in active" id="s1">
                            <p>
                                <div class="lightBoxGallery">
                                    <div id="webImages" class="lightBoxGallery">

                                    </div>
                                    <!-- The Gallery as lightbox dialog, should be a child element of the document body -->
                                    <div id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-controls">
                                        <div class="slides"></div>
                                        <h3 class="title"></h3>
                                        <a class="prev">‹</a>
                                        <a class="next">›</a>
                                        <a class="close">×</a>
                                        <a class="play-pause"></a>
                                        <ol class="indicator"></ol>
                                    </div>

                                </div>
                            </p>
                        </div>
                        <div class="tab-pane fade" id="s2">
                            <p>
                                Chart
                            </p>
                        </div>
                    </div>

                </div>
                <!-- end widget content -->

            </div>
            <!-- end widget div -->

        </div>
        <!-- end widget -->
    </article>
    <!-- WIDGET END -->
</div>

<!-- row -->
@*<div class="row" style="margin-top: 20px;">
    <div class="col-md-10">
    

        </div>
</div>*@

@section Scripts {
    <script src="~/js/plugin/blueimp/jquery.blueimp-gallery.min.js"></script>
    
    <script>

        function isValidURL(str) {
            //var a = document.createElement('a');
            //a.href = str;
            //return (a.host && a.host != window.location.host);

            return str !== undefined && (str.indexOf("http://") != -1 || str.indexOf("https://") != -1);
        }

        $("#searchContent").click(function () {

            var requestWebUrl = $('#websiteUrl').val();
            var dataObject = {
                'url': requestWebUrl
            };

            $.ajax({
                type: "POST",
                url: "http://localhost:49756/api/content/search",
                dataType: 'json',
                data: dataObject,
                success: function (response) {
                    //console.log(response.images);

                    var htmlString = "";
                    //<a href='img/gallery/1.jpg' title='Image from Unsplash' data-gallery=""><img src='img/gallery/1s.jpg'></a>
                    $.each(response.images, function (i, item) {
                        if (!isValidURL(item)) {
                            item = requestWebUrl + item;
                            console.log(item);
                        }
                        imageUrl = item
                        htmlString += "<a href='" + item + "' data-gallery=''><img style='margin: 5px;' src='" + item + "' height='100px' width='100px'></a>";
                    });

                    //console.log(htmlString);
                    $('#webImages').html(htmlString + "");
                },
                fail: function (error) {
                    console.log(error);
                }
            });
        });
    </script>
}
