<div class="row">
    <h2 class="row-seperator-header">
        <i class="fa fa-search"></i> Content Search Tool
    </h2>
    <article class="col-md-12">
        <div class="jarviswidget well" id="wid-id-3" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-togglebutton="false" data-widget-deletebutton="false" data-widget-fullscreenbutton="false" data-widget-custombutton="false" data-widget-sortable="false">
            <header>
                <span class="widget-icon">
                    <i class="fa fa-comments"></i>
                </span>
            </header>
            <div>
                <div class="widget-body">
                    <div class="input-group input-group-lg hidden-mobile">
                        <input class="form-control input-lg" type="url" placeholder="Search website content..." id="websiteUrl">
                        <div class="input-group-btn">
                            <button type="button" id="searchContent" class="btn btn-info" disabled>
                                &nbsp;&nbsp;&nbsp;<i class="fa fa-fw fa-search fa-lg"></i>&nbsp;&nbsp;&nbsp;
                            </button>
                        </div>
                    </div>
                    <hr class="simple">

                    <ul id="myTab1" class="nav nav-tabs bordered">
                        <li class="active">
                            <a href="#s1" name="imageTab" data-toggle="tab"><i class="fa fa-fw fa-lg fa-image"></i> Images</a>
                        </li>
                        <li>
                            <a href="#s2" name="chartTab" data-toggle="tab"><i class="fa fa-fw fa-lg fa-area-chart"></i> Top Keywords</a>
                        </li>
                    </ul>

                    <div id="myTabContent1" class="tab-content padding-10">
                        <div class="tab-pane fade in active" id="s1">
                            <p>
                                <div class="lightBoxGallery">
                                    <div id="webImages" class="lightBoxGallery">

                                    </div>
                                    <div id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-controls">
                                        <div class="slides"></div>
                                        <h3 class="title"></h3>
                                        <a class="prev">‹</a>
                                        <a class="next">›</a>
                                        <a class="close">×</a>
                                        <a class="play-pause"></a>
                                        <ol class="indicator"></ol>
                                    </div>

                                </div>
                            </p>
                        </div>
                        <div class="tab-pane fade" id="s2">
                            <p>
                                <section id="widget-grid" class="">
                                    <div class="row">
                                        <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                            <div class="jarviswidget" id="wid-id-4" data-widget-editbutton="false">
                                                <header>
                                                    <span class="widget-icon">
                                                        <i class="fa fa-bar-chart-o"></i>
                                                    </span>
                                                    <h2>Sales Chart</h2>
                                                </header>
                                                <div>

                                                    <h3><span id="totalWordCount"></span></h3>
                                                    <div class="jarviswidget-editbox">
                                                    </div>
                                                    <div class="widget-body no-padding">
                                                        <div id="saleschart" class="chart" style="width:100%;height:350px;"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </article>
                                    </div>
                                </section>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </article>
</div>

@section Scripts {
    <script src="~/js/plugin/blueimp/jquery.blueimp-gallery.min.js"></script>
    <script src="~/js/app/imagesearch.js"></script>
    <script src="~/js/app/keyword.flot.chart.js"></script>
}
